/* fuentes */
  /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.hero {
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 45%;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 95vh;
    margin-left: 3%;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    min-height: 10vh;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
}

nav#navBar {
    margin-left: 5%;
    margin-top: 2vh;

}

nav#icon {
    padding-left: 18%;
}

nav a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
}

img#user {
    height: 10vh;
    margin-top: 2vh;
}

.boxTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.title {
    width: 35vw;
    margin-bottom: 7%;
}

img#plane {
    margin-top: 12%;
    width: 90%;
    margin-left: 15%;
}

img#user {
    margin-right: 5vw;
}

.title h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 1.3rem;
    width: 80%
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 42vh;
    width: 25vw;
    margin-right: 8%;
    margin-bottom: 8%;
}

.buttonContainer h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(238, 42, 132);
    font-size: 1.3rem;
    width: 80%
}

.buttonContainer h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    color: rgb(245, 153, 0);
}

.buttonContainer button {
    width: 45%;
    background: rgb(255,178,41);
    background: linear-gradient(90deg, rgba(255,178,41,1) 0%, rgba(238,42,132,1) 100%);
    color: white;
    border-radius: 70px;
    text-decoration: none;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;

}